<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="estoque-ws">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp"/>
        <wb-resource deploy-path="/" source-path="/webapp" tag="defaultRootSource"/>
        <dependent-module archiveName="estoque-ejb-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/estoque-ejb/estoque-ejb">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="dn-framework-ejb-1.0.0-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/dn-framework-ejb/dn-framework-ejb">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="estoque-api-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/estoque-api/estoque-api">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="dn-framework-api-1.0.0-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/dn-framework-api/dn-framework-api">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/estoque-ws/target/classes"/>
        <property name="context-root" value="estoque-ws"/>
    </wb-module>
</project-modules>
